<% for(var i=0; i<companyDetails.length; i++) { %>
<tr>
    <td><%= companyDetails[i].company_name %></td>
    <td><%= companyDetails[i].address %></td>
    <td><%= companyDetails[i].contact_person_name %></td>
    <td><%= companyDetails[i].mobile_number %></td>
    <td>
        <a href="<%= `/route/api/medical/companies/${companyDetails[i]._id}/edit` %>" type="button" class="btn btn-success">Edit</a>
        <a href="<%= `/route/api/medical/companies/${companyDetails[i]._id}?_method=DELETE` %>" type="button" class="btn btn-success"  onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
    </td>
</tr>
<% } %>