<%- include('header') -%>
<%- include('dashboard') -%>
    <div class="top new-stock-container">
        <h4>Update Company Details</h4>
        <form method="POST" id="update_company" action="<%=`/route/api/medical/companies/${updateCompany._id}/update?_method=PUT`%>">
            <div class="add-stock-container">
                <div class="form-inline">
                    <b for="company_name">Company Name:</b>
                    <input type="text" id="company_name" name="company_name" value="<%= updateCompany.company_name%>" class="form-control">
                </div>
                <div class="form-inline">
                    <b for="address">Address:</b>
                    <input type="text" id="address" name="address" value="<%= updateCompany.address%>" class="form-control">
                </div>
                <div class="form-inline">
                    <b for="contact_person_name">Contact Person Name:</b>
                    <input type="text" id="contact_person_name" name="contact_person_name" value="<%= updateCompany.contact_person_name%>" class="form-control">
                </div>
                <div class="form-inline">
                    <b for="mobile_number">Mobile Number:</b>
                    <input type="text" id="mobile_number" name="mobile_number" value="<%= updateCompany.mobile_number%>" class="form-control">
                </div>                
                <div class="form-inline">
                    <button type="submit" class="btn btn-success rounded-pill">Update Company</button>
                </div>
            </div>
        </form>
    </div>
<%- include('footer') -%> 